.message {
    margin-top: 25%;
}
.bar-avatar {
    height: 48px;
    width: 48px;
    background-color: white;
    margin-left: 1%;
}
img.avatar {
    height: 48px;
    width: 48px;
}
.description {
    white-space: pre-wrap;
}
.back-icon {
    margin-right: 12px;
}
.active-route {
    color: rgb(0, 220, 26);
}