<ion-header>
  <ion-toolbar color='light' *ngIf='!this.isLoading && !this.loadError && this.studio !== undefined '>
  </ion-toolbar>
  <ion-tabs *ngIf='!this.isLoading && !this.loadError && this.studio !== undefined '>
  <ion-tab-bar>
        <ion-tab-button [routerLink]='"/home/studios/" + this.studioId' routerLinkActive='active-route' [routerLinkActiveOptions]="{exact:
          true}"><ion-icon name='home'></ion-icon><ion-label>Home</ion-label></ion-tab-button>
        <ion-tab-button [routerLink]='"/home/studios/" + this.studioId + "/lessons"' routerLinkActive='active-route'>
          <ion-icon name='document-text'>
          </ion-icon><ion-label>Lessons</ion-label></ion-tab-button>
        <ion-tab-button [routerLink]='"/home/studios/" + this.studioId + "/members"' routerLinkActive='active-route'><ion-icon name='people'></ion-icon><ion-label>Members</ion-label></ion-tab-button>
        <ion-tab-button [routerLink]='"/home/studios/" + this.studioId + "/manage"' *ngIf='this.isInstructor()' routerLinkActive='active-route'><ion-icon name='list'></ion-icon><ion-label>Manage</ion-label></ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
</ion-header>
<ion-progress-bar *ngIf='this.isLoading'></ion-progress-bar>
<ion-content>
  <div *ngIf='!this.isLoading && this.studio'>
    <ion-router-outlet id='main-studio-content' (activate)='onActivate($event)'></ion-router-outlet>
  </div>
  <ion-text *ngIf='this.userDataService.loadError' class='ion-text-center message'><h4>There was an issue loading this studio, or it does not exist.</h4></ion-text>
</ion-content>