.desktop-subpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.desktop-item {
    flex-basis: 46%;
    margin: 2%;
    height: 60vh;
    text-align: center;
    min-height: 250px;
}
.card-image {
    max-height: 30%;
    max-width: 100%;
    margin-top: 15px;
}
.buttons {
    margin: auto;
    margin-top: 30px;
    justify-content: center;
}
.button {
    text-align: center;
    border-bottom: none;
}
.button:hover {
    border-bottom: 1px solid lightgreen;
}
.center {
    margin: auto;
    width: max-content;
}
.description {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 20%;
}
.middle-message {
    margin: 20vh auto 5vh auto;
    text-align: center;
    max-width: 90%;
}
.icon-mr {
    margin-right: 10px;
}