<ion-app>
  <ion-header *ngIf='isLoggedIn'>
    <ion-toolbar>
      <ion-avatar slot="start">
        <a routerLink='/home'>
          <img src='../assets/icon/favicon.png' class='prac-baricon'>
        </a>
      </ion-avatar>
      <ion-buttons slot='start'>
        <ion-button (click)='toggleTheme()' class="circle-button">
          <ion-icon *ngIf='isDarkMode' name="moon-outline"></ion-icon>
          <ion-icon *ngIf='!isDarkMode' name="sunny-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-text slot='end' class='user-info' *ngIf='this.platform.width() >= 768'>
        <h5>{{firstname}} {{lastname}} <h6 class='username'>{{username}}</h6></h5>
      </ion-text>
      <!-- <ion-buttons slot='end' *ngIf='this.platform.width() >= 768'>
        <ion-button (click)='logout()'>Logout</ion-button>
      </ion-buttons> -->
      <ion-buttons slot='end'>
        <ion-menu-button menu='mainMenu'></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-header *ngIf='!isLoggedIn'>
    <ion-toolbar>
        <ion-avatar slot="start">
          <a routerLink='/'>
            <img src='../assets/icon/favicon.png' class='prac-baricon'>
          </a>
        </ion-avatar>
        <ion-buttons slot='start'>
          <ion-button (click)='toggleTheme()' class="circle-button">
            <ion-icon *ngIf='isDarkMode' name="moon-outline"></ion-icon>
            <ion-icon *ngIf='!isDarkMode' name="sunny-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot='end' *ngIf='!isLoggingIn'>
          <ion-button routerLink='/login'>
          Log In
        </ion-button>
        <ion-text color="medium">
          <h5 class="seperator"> | </h5>
        </ion-text>
        <ion-button routerLink='/register'>
          Register
        </ion-button>
        </ion-buttons>
        <ion-spinner slot='end' *ngIf='isLoggingIn' id='logging-in-spinner'></ion-spinner>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app>
