.title {
    margin: auto;
    text-align: center;
    padding: 0 10%;
}
#prac-logo-light,#prac-logo-dark {
    width: 65vw;
    margin: auto;
}
#logo-container {
    margin: auto;
    width: max-content;
    height: max-content;
}
.hidden {
    display: none;
}