#user-searchbar {
    width: 50%;
    margin: auto;
}
#user-searchbar.mobile {
    width: 85%;
}
#results-list {
    width: 75%;
    margin: auto;
}
.grey {
    color: grey;
}
.center {
    margin: 15px auto;
}