\#instructors-card,#assistants-card,#students-card {
    flex-basis: 30%;
    height: max-content;
}
.username-display {
    font-size: 0.8em;
    color: grey;
    margin-left: 5px;
}
.you-display {
    margin-right: 5px;
}