<ion-content id='members-content'>
  <ion-card id='instructors-card'>
    <ion-card-header>
      <ion-card-title>Instructors
        <ion-buttons>
          <ion-button *ngIf='!isAddingInstructor' (click)='addInstructor()'><ion-icon name='add' color='success' class='add-button'></ion-icon>Add Instructor</ion-button>
          <ion-button *ngIf='isAddingInstructor' (click)='disableAddInstructor()'><ion-icon name='close' color='danger' class='add-button'></ion-icon>Cancel</ion-button>
        </ion-buttons>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor='let instructor of this.studio.instructors'>
          <ion-spinner name="dots" *ngIf='getUser(instructor.id).id === ""'></ion-spinner>
          <span class='you-display' *ngIf='getUser(instructor.id).id === this.loginService.user.id'>(You)</span>
          {{ getUser(instructor.id).firstname + " " + getUser(instructor.id).lastname}}
          <span *ngIf='getUser(instructor.id).id !== ""' class='username-display'>({{getUser(instructor.id).username}})</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <app-new-member-popover id='instructor-popover' *ngIf='isAddingInstructor' newMemberRole='instructor' [studio]='this.studio' [class.dark]='this.settingsService.isDarkMode()' #instructorPopover></app-new-member-popover>
  <ion-card id='assistants-card'>
    <ion-card-header>
      <ion-card-title>Assistants
        <ion-buttons>
          <ion-button *ngIf='!isAddingAssistant' (click)='addAssistant()'><ion-icon name='add' color='success' class='add-button'></ion-icon>Add Assistant</ion-button>
          <ion-button *ngIf='isAddingAssistant' (click)='disableAddAssistant()'><ion-icon name='close' color='danger' class='add-button'></ion-icon>Cancel</ion-button></ion-buttons>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor='let assistant of this.studio.assistants'>
          <ion-spinner name="dots" *ngIf='getUser(assistant.id).id === ""'></ion-spinner>
          <span class='you-display' *ngIf='getUser(assistant.id).id === this.loginService.user.id'>(You)</span>
          {{ getUser(assistant.id).firstname + " " + getUser(assistant.id).lastname}}
          <span *ngIf='getUser(assistant.id).id !== ""' class='username-display'>({{getUser(assistant.id).username}})</span>
        </ion-item>
        <ion-item *ngIf='this.studio.assistants.length === 0'>
          There are no assistants enrolled in this studio.
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <app-new-member-popover id='assistant-popover' *ngIf='isAddingAssistant' newMemberRole='assistant' [studio]='this.studio' [class.dark]='this.settingsService.isDarkMode()' #assistantPopover></app-new-member-popover>
  <ion-card id='students-card'>
    <ion-card-header>
      <ion-card-title>Students
        <ion-buttons>
          <ion-button *ngIf='!isAddingStudent' (click)='addStudent()'><ion-icon name='add' color='success' class='add-button'></ion-icon>Add Student</ion-button>
          <ion-button *ngIf='isAddingStudent' (click)='disableAddStudent()'><ion-icon name='close' color='danger' class='add-button'></ion-icon>Cancel</ion-button>
        </ion-buttons>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor='let student of this.studio.students'>
        <ion-spinner name="dots" *ngIf='getUser(student.id).id === ""'></ion-spinner>
        <span class='you-display' *ngIf='getUser(student.id).id === this.loginService.user.id'>(You)</span>
        {{ getUser(student.id).firstname + " " + getUser(student.id).lastname}}
        <span *ngIf='getUser(student.id).id !== ""' class='username-display'>({{getUser(student.id).username}})</span>
      </ion-item>
      <ion-item *ngIf='this.studio.students.length === 0'>
        There are no students enrolled in this studio.
      </ion-item>
    </ion-card-content>
  </ion-card>
  <app-new-member-popover id='student-popover' *ngIf='isAddingStudent' newMemberRole='student' [studio]='this.studio' [class.dark]='this.settingsService.isDarkMode()' #studentPopover></app-new-member-popover>
</ion-content>