.middle-button {
    margin: auto;
}
ion-input {
    width: 50vw;
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
}
.margin-r {
    margin-right: 10px;
}
#back {
    margin-top: 2vh;
    margin-left: 2vw;
}