.split-pane {
    --side-max-width: 10%;
}
.menu-icon {
    margin-right: 10px;
}
.menu-item {
    margin: 0 10% 0 5%;
    border-bottom: 1px solid rgba(155,155,155, 0);
    transition: border 0.3s;
    pointer-events: auto !important;
}
.menu-item:hover {
    border-bottom: 1px solid rgba(200, 200, 200, 0.7);
    transition: border 0.3s;
    cursor: pointer;
}
.active-item {
    border-bottom: 1px solid rgba(87, 200, 87, 0.7);
    transition: border 0.3s;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
span.username {
    font-size: 0.65em;
    color: grey;
}
.icon-mr {
    margin-right: 10px;
}
.icon-ml {
    margin-left: 10px;
}