<ion-buttons>
  <ion-button (click)='this.dismiss()'><ion-icon color='danger' name='close-outline'></ion-icon></ion-button>
</ion-buttons>
<p style='margin-left: 10px;'>Add as...</p>
<ion-buttons>
  <ion-button (click)='confirm("student")'>Student</ion-button></ion-buttons>
  <ion-buttons>
  <ion-button color='secondary' (click)='confirm("assistant")'>Assistant</ion-button></ion-buttons>
  <ion-buttons>
  <ion-button color='tertiary' (click)='confirm("instructor")'>Instructor</ion-button>
</ion-buttons>
