.info {
    border-bottom: 3px ridge rgba(57, 159, 255, 0.4);
    // border-top: 3px double rgba(57, 159, 255, 0.4);
    // border-left: 3px inset rgba(57,159,255,0.4);
    // border-right: 3px inset rgba(57,159,255,0.4);
    width: 75%;
    text-align: center;
    margin: auto;
}
#buttons {
    margin: 2vh 10vw 0;
}
#back-button {
    margin-right: 15px;
}
.studio-form {
    margin: 0 5%;
}
#back {
    margin-top: 2vh;
    margin-left: 2vw;
}
#back-button-text {
    margin-left: 10px;
}
.form-field-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15%;
    align-items: center;
    justify-content: center;
}
.error-field-group {
    margin: 3vh 15%;
    align-items: center;
    justify-content: center;
}
.form-field {
    margin: 10px;
    flex-basis: content;
    min-width: 40%;
}
ion-item {
    --background: none !important;
}
.left-margin {
    margin-left: 10px;
}
.right-margin {
    margin-right: 10px;
    margin-bottom: 10px;
}
.alert-icon {
    margin-right: 10px;
}
.error-field {
    width: 90%;
    word-wrap: break-word;
    margin: auto;
}
#create-studio-button {
    margin: 2vh auto;
}
.small-spinner {
    width: 1em;
    height: 1em;
}
#spinner {
   margin: 10vh auto;
   display: block;
}
#spinner-item {
    margin: auto;
    align-items: center;
    justify-content: center;
    width: max-content;
}
#tag-input {
    margin-top: 10px;
}
#tag-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag-item {
    flex-basis: auto;
}
.avatar-image {
    width: auto;
}