.left-icon {
    margin-right: 10px;
}
#lesson-view {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    overflow-x: scroll;
}
.double-bar {
    display: inline-block;
    border-right: 12px double black;
    height: 20vh;
}
.single-bar {
    display: inline-block;
    border-right: 4px solid black;
    height: 20vh;
}
.connector {
    display: inline-block;
    width: 8vw;
    border-top: 3px solid black;
    margin-bottom: 10vh;
}
.connector-long {
    display: inline-block;
    width: calc(8vw + 4px);
    border-top: 3px solid black;
    margin-bottom: 10vh;
}
.empty-note {
    display: inline-block;
    width: calc(2.5vh + 40px);
    height: calc(2.5vh + 40px);
    margin-bottom: calc(10vh - (1.25vh + 20px));
    border: 2px solid black;
    border-radius: 100px;
    transition: all 0.3s;
}
.filled-note {
    display: inline-block;
    width: calc(2.5vh + 40px);
    height: calc(2.5vh + 40px);
    margin-bottom: calc(10vh - (1.25vh + 20px));
    border: 2px solid black;
    border-radius: 100px;
    transition: all 0.3s;
    background-color: rgba(95, 159, 255, 0.8);
}
.double-bar.darkcolor,.single-bar.darkcolor {
    border-right-color: white;
}
.connector.darkcolor,.connector-long.darkcolor {
    border-top-color: white;
}
.empty-note.darkcolor,.filled-note.darkcolor {
    border-color: white;
}
.filled-note.darkcolor {
    background-color: rgba(55, 113, 199, 0.8);
}
.empty-note:hover {
    box-shadow: 0 0 3px 2px #3880FF;
    background-color: rgba(159, 194, 248, 0.4);
    transition: all 0.4s;
    cursor: pointer;
}
.filled-note:hover {
    box-shadow: 0 0 3px 2px #ffffff;
    background-color: rgba(95, 159, 255, 0.4);
    transition: all 0.4s;
    cursor: pointer;
}
.filled-note.darkcolor:hover {
    background-color: rgba(55, 113, 199, 0.4);
}
.note-wrapper {
    position: absolute;
}
.note-title {
    width: max-content;
}
.note-title>p {
    margin-top: calc(2.5vh + 40px); 
}