<ion-content padding>
  <ion-buttons id="back">
    <ion-button routerLink="/" id="back-button">
      <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      <span id="back-button-text">Back</span>
    </ion-button>
  </ion-buttons>
  <ion-text class="ion-text-center">
    <h2>Create Practirio Account</h2>
  </ion-text>
  <form name=registerForm [formGroup]='registerForm' (ngSubmit)='register()'>
    <ion-item-group class="form-field-group">
    <ion-item class="form-field">
      <ion-label position="stacked" [color]='((this.registerForm.get("firstname").touched || this.registerForm.get("firstname").dirty) && !this.registerForm.get("firstname").valid) ? "danger" : "dark"'>
        <ion-icon class="alert-icon" name="alert-circle-outline" color="danger" *ngIf='(this.registerForm.get("firstname").touched || this.registerForm.get("firstname").dirty) && !this.registerForm.get("firstname").valid'></ion-icon><ion-text>First Name</ion-text>
      </ion-label>
      <ion-input formControlName='firstname' name='firstname' required autocapitalize="on"></ion-input>
    </ion-item>
    <ion-item class="form-field">
      <ion-label position="stacked" [color]='((this.registerForm.get("lastname").touched || this.registerForm.get("lastname").dirty) && !this.registerForm.get("lastname").valid) ? "danger" : "dark"'>
        <ion-icon class="alert-icon" name="alert-circle-outline" color="danger" *ngIf='(this.registerForm.get("lastname").touched || this.registerForm.get("lastname").dirty) && !this.registerForm.get("lastname").valid'></ion-icon><ion-text>Last Name</ion-text>
      </ion-label>
      <ion-input formControlName='lastname' name='lastname' required autocapitalize="on"></ion-input>
    </ion-item>
    <ion-item class="form-field">
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName='email' name=email type="email" required inputmode="email">
      </ion-input>
    </ion-item>
    <ion-item class="form-field">
      <ion-label position="stacked">Username</ion-label>
      <ion-input formControlName='username' name=username required debounce="1000"></ion-input>
    </ion-item>
    <ion-item class="form-field">
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName='password' name=password type="password" required></ion-input>
    </ion-item>
    <ion-item class="form-field">
      <ion-label position="stacked">Confirm Password</ion-label>
      <ion-input formControlName='passwordConfirm' name=passwordConfirm type="password" required></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-button type=submit expand=full [disabled]='!isFormValid()'>Create Account</ion-button>
  </form>
</ion-content>
