<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form name=loginForm [formGroup]='loginForm' (ngSubmit)='login()'>
    <ion-item>
      <ion-label position="floating">Username / Email</ion-label>
      <ion-input formControlName='username' name=username required>
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type=password name=password required formControlName='password'></ion-input>
    </ion-item>
  <ion-button type=submit expand=full [disabled]='!loginForm.valid'>Login</ion-button>
  </form>
  <!-- <ion-item>
    <ion-label position="floating">Username or Email</ion-label>
    <ion-input [formControl]='username' type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [value]='this.password' name="password"></ion-input>
  </ion-item>
    <ion-button class="centered" type="submit" [disabled]="!loginValid()">Log In</ion-button> -->
</ion-content>
